@use '../abstracts' as *;

$breakingpoints: (
  small: 40em,
  medium: 65em,
  large: 90em,
);

@mixin mq($size) {
  @media (min-width: $size) {
    color: red;
  }
}

.card {
  padding: 1em;
  font-size: $font-size;
  color: $red;
  .__title {
    font-size: $font-size;
  }

  @include mq(400px);
}

nav {
  ul {
    list-style: none;
    display: flex;
  }
  li {
    padding: 0.25em;
  }
  a {
    color: beige;
  }
}
