.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 20px;
}

.signedIn-info {
  display: flex;
  /* margin-top: 10px; */
}

.signedIn {
}
.signedIn-title {
  margin-top: 0;
  font-size: 1rem;
}

.avatar {
}
.logout-button {
  cursor: pointer;
  height: 3rem;
  margin: 0 20px;
  padding: 0px 15px;
  background-color: white;
  border: 1px solid rgb(247, 182, 214);
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(247, 243, 243, 0.7);
}
/* LOGGED OUT */

.login-button {
  cursor: pointer;
  margin: 0 20px;
  padding: 8px 15px;
  background-color: white;
  border: 1px solid rgb(247, 182, 214);
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(247, 243, 243, 0.7);
}
