.game__container {
  $this: &;
  width: 720px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
  padding: 0 20px;
  &__title h1 {
    color: red;
  }
  @media (max-width: 768px) {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
  }
}
.card {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  .group1,
  .group2,
  .group3,
  .group4 {
    position: relative;
    span {
      position: absolute;
      bottom: 20px;
      left: 40px;
    }
  }
}

.card img {
  width: 200px;
}
