$primary-color: #272727;
$secondary-color: #f385f6;
$third-color: rgb(175, 84, 4);
$container-color: #fff;
$accent-color: red;
$text-color: #fff;
$sub-text-color: #9b036b;
$second-nav-background: pink;
$linear-gradient01: #a18cd1;
$linear-gradient02: #fbc2eb;
$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 900,
);
$font-size: (
  "title": 2rem,
  "sub-title": 1.5rem,
  "article": 1.2rem,
);

$mobile: 800px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}
