.home-container {
  background: url("https://cdn.pixabay.com/photo/2020/07/01/19/48/online-5360755_1280.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f7b5c7;
  min-height: 100vh;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home__board {
  margin: 3rem auto auto 15rem;
}
.home__game {
  margin: 5rem 20rem 20rem auto;
}

@media screen and (max-width: 960px) {
  .home__board {
    margin: 3rem auto;
  }
  .home__game {
    margin: 5rem auto;
  }
}
