.home-container {
  background: url("https://cdn.pixabay.com/photo/2020/07/01/19/48/online-5360755_1280.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #f7b5c7;
  height: 100vh;
  z-index: -1;
  display: flex;
  justify-content: center;
}
