/* .navi {
  background-color: black;
  height: 90px;
  color: aliceblue;
}
.container {
  height: 100%;
  padding: 30px 25px;
  display: flex;
  align-items: center;
  max-width: 1200px;
}

.container > h3,
.navcontaineri > h4 {
  margin: 0;
}

.container > h3 {
  margin-right: auto;
}

.main {
  height: 100vh;
  background-color: rgb(54, 53, 54);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right 45%;
  color: aliceblue;
}
li::before {
  content: "";
  font-size: 4rem;
  width: 15px;
  height: 15px;
  background-color: red;
  position: absolute;
  left: 0em;
  border-radius: 20px;
  margin-top: 2px;
} */

.card-container {
  background-color: rgb(28, 27, 36);
  padding: 2em;
}
.infor-container {
  margin: 0 auto;
  max-width: 500px;
  background-color: black;
  padding: 3rem;
  color: aliceblue;
  border-radius: 2rem;
}
.button > button {
  width: 200px;
  height: 50px;
  margin-right: 0.5rem;
}

.button > button:nth-child(2) {
  background-color: aqua;
  border: none;
}
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.name > h4 {
  font-size: 1.5rem;
}
