@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

h1,
h2,
p {
  margin: 0;
}

/* app styles */
.App {
  /* max-width: 400px; */
  /* margin: 30px auto; */
  /* text-align: center; */
}
/* nav {
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
} */
.home .post img {
  width: 300px;
  position: absolute;
  right: -110px;
  opacity: 0.6;
}

.home .post {
  overflow: hidden;
  padding-left: 8px;
}
